body {
  background-image: url("https://cdn.discordapp.com/attachments/843361049994723328/913270096229720114/747960.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  color : #6F7CC6;
}
#txt01 {
  color : #6F7CC6;
  font-size: 135%;
}
.kn-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.kn-size {
  font-size: 135%;
}
